<h1><%= t("new_service_contract") %></h1>

<%= error_messages_for :service_contract %>

<% form_for(:service_contract, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t("create") %>
  </p>
<% end %>
